[user]
  name = Andrew Sardone
  email = andrew@andrewsardone.com
[color]
  ui = auto
[core]
  excludesfile = $HOME/.gitexcludes
  attributesfile = $HOME/.gitattributes
[alias]
  co = checkout
  shortsha = rev-parse --short HEAD
  st = status --short --branch
  lg = "!source ~/.githelpers && pretty_git_log"
  recent = ! git reflog | grep 'checkout: moving from' | head -n 50 | egrep -oh ' \\S+$' | awk '!x[$0]++'
[diff "localizablestrings"]
  textconv = "iconv -f utf-16 -t utf-8"
[credential]
	helper = osxkeychain
[hub]
	http-clone = true
[github]
	user = andrewsardone
[merge]
	defaultToUpstream = true
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
