[user]
  name = Andrew Sardone
  email = andrew@andrewsardone.com
[color]
  ui = auto
[core]
  excludesfile = $HOME/.gitexcludes
  attributesfile = $HOME/.gitattributes
[alias]
  co = checkout
  shortsha = rev-parse --short HEAD
  st = status --short --branch
  lg = "!source ~/.githelpers && pretty_git_log"
[diff "localizablestrings"]
  textconv = "iconv -f utf-16 -t utf-8"
[credential]
	helper = osxkeychain
[hub]
	http-clone = true
[github]
	user = andrewsardone
[merge]
	defaultToUpstream = true
