[user]
	name = Andrew Sardone
	email = andrew@andrewsardone.com
[color]
	ui = auto
[core]
	excludesfile = $HOME/.gitexcludes
	attributesfile = $HOME/.gitattributes
[alias]
	co = checkout
	shortsha = rev-parse --short HEAD
	st = status --short --branch
	ts = st
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	recent = ! git reflog | grep 'checkout: moving from' | head -n 50 | egrep -oh ' \\S+$' | awk '!x[$0]++'
[diff "localizablestrings"]
	textconv = "iconv -f utf-16 -t utf-8"
; [credential]
; 	helper = osxkeychain
[hub]
	http-clone = true
[github]
	user = andrewsardone
[merge]
	defaultToUpstream = true
[commit]
	verbose = true
	; gpgsign = true
[init]
	defaultBranch = main
