[user]
  name = __USER_NAME__
  email = __USER_EMAIL__
[color]
  ui = auto
[github]
  user = __GITHUB_USER__
  token = __GITHUB_TOKEN__
[core]
  excludesfile = $HOME/.gitexcludes
[alias]
  co = checkout
  shortsha = rev-parse --short HEAD
  st = status --short --branch

  lg = "!source ~/.githelpers && pretty_git_log"
[diff "localizablestrings"]
  textconv = "iconv -f utf-16 -t utf-8"
