[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "terminal_profiles/iterm-colors-pencil"]
	path = terminal_profiles/iterm-colors-pencil
	url = https://github.com/mattly/iterm-colors-pencil
[submodule "terminal_profiles/nova-iterm"]
	path = terminal_profiles/nova-iterm
	url = https://github.com/trevordmiller/nova-iterm
[submodule "vendor/rcaloras/bash-preexec"]
	path = vendor/rcaloras/bash-preexec
	url = https://github.com/rcaloras/bash-preexec
[submodule "vendor/sonph/onehalf"]
	path = vendor/sonph/onehalf
	url = https://github.com/sonph/onehalf
