[submodule "terminal_profiles/iterm-colors-pencil"]
	path = terminal_profiles/iterm-colors-pencil
	url = https://github.com/mattly/iterm-colors-pencil
[submodule "terminal_profiles/nova-iterm"]
	path = terminal_profiles/nova-iterm
	url = https://github.com/trevordmiller/nova-iterm
[submodule "vendor/rcaloras/bash-preexec"]
	path = vendor/rcaloras/bash-preexec
	url = https://github.com/rcaloras/bash-preexec
[submodule "vendor/sonph/onehalf"]
	path = vendor/sonph/onehalf
	url = https://github.com/andrewsardone/onehalf
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vendor/arcticicestudio/nord-iterm2"]
	path = vendor/arcticicestudio/nord-iterm2
	url = https://github.com/arcticicestudio/nord-iterm2.git
[submodule "terminal_profiles/iterm2-gruvbox"]
	path = terminal_profiles/iterm2-gruvbox
	url = https://github.com/herrbischoff/iterm2-gruvbox
