source ~/.vimrc

" forward/back history navigation
map ,d :action Back<cr>
map ,f :action Forward<cr>

" Disable bell
" via http://superuser.com/a/677312
set visualbell
set noerrorbells

" Custom mappings for actions provided ivia IdeaVIM
" For a large list of available actions, see
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
nmap <leader>e :action ShowErrorDescription<cr>
nmap <leader>r :action FileStructurePopup<cr>
nmap <leader>t :action SearchEverywhere<cr>
nmap <leader>w :action ShowIntentionActions<cr>
nmap <leader>b :action RecentFiles<cr>

" Inspired by https://github.com/tpope/vim-vinegar
" Simply press `-` in normal mode to hop into IntelliJ's navigation bar, which
" sort of acts like vim's netrw mode to give me keyboard-driven filesystem
" navigation relative to the file I had open.
noremap - :action ShowNavBar<cr>

map <silent> <leader>V :source ~/.ideavimrc<cr>
